/* Reset & cơ bản */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #f0f4f8, #e0f7fa);
  color: #333;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-direction: column
}

/* Container chính */
.container {
  width: 100%;
  max-width: 1250px;
  background-color: white;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  animation: fadeIn 0.5s ease-in-out;
  flex: 1 0 auto; 
  margin-top: 32px;
}

.con2 {
  margin-bottom: 32px;
}

/* Tiêu đề */
h1 {
  font-size: 26px;
  font-weight: 800;
  color: #006f62;
  margin-bottom: 24px;
  margin-top:16px;
  text-align: center;
  line-height: 1.4;
}

/* Form */
form {
  display: flex;
  /*flex-direction: column;*/
  gap: 16px;
  max-width: 100%;
  align-items:center;
}

/* Input file */
input[type="file"] {
  border: 2px dashed #b2dfdb;
  padding: 12px;
  border-radius: 8px;
  background-color: #f5f5f5;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

input[type="file"]:hover {
  background-color: #e0f2f1;
}

/* Nút submit */
button[type="submit"] {
  width: 200px;
  height: auto;    
  margin-left: auto; 
  margin-right: auto; 

  padding: 12px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  background: #009688;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

button[type="submit"]:hover {
  transform: scale(1.03);
  /*box-shadow: 0 4px 12px rgba(0, 188, 212, 0.3);*/
  background: linear-gradient(to right, #00bcd4, #009688);
}

/* Kết quả */
#result {
  margin-top: 24px;
  padding: 20px;
  border-radius: 8px;
  background-color: #e0f2f1;
  color: #2c2c2c;
  font-size: 24px;
  display: none; /* ban đầu ẩn */
  word-wrap: break-word;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Hiện ảnh*/
#preview {
  text-align: justify;
}

#previewImage {
  max-width: 90%;
  /*width: 600px;*/
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  display: none;
  object-fit: cover;
  transition: all 0.3s ease;
  /*display: block;*/ 
  margin-top: 24px;    
  margin-left: auto; 
  margin-right: auto; 
}

/* Responsive */

/* Dưới 768px: điện thoại */
@media (max-width: 768px) {

  .container {
    padding: 28px;
    margin-top: 26px;
  }

  .con2 {
    margin-bottom: 26px;
  }

  h1 {
    font-size: 22px;
  }

  button[type="submit"] {
    font-size: 18px;
  }

    #result {
    font-size: 18px;
  }

  input[type="file"] {
    font-size: 14px;
    padding: 10px;
  }
}

/* Dưới 480px: điện thoại nhỏ */
@media (max-width: 480px) {
  .container {
    padding: 20px;
    margin-top: 18px;
  }

  .con2 {
    margin-bottom: 18px;
  }

  h1 {
    font-size: 20px;
  }

    button[type="submit"] {
    font-size: 15px;
  }

  #result {
    font-size: 15px;
  }

    input[type="file"] {
    font-size: 12px;
    padding: 10px;
  }
}

/* Navbar */
.navbar {
  background: linear-gradient(to right, #00bcd4, #009688);
  width: 100%;
  padding: 10px 16px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
}

.nav-logo {
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 6px;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Nút hamburger */
.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 30px;
  height: auto;
  justify-content: space-between;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  height: 4px;
  width: 30px;
  background: white;
  border-radius: 2px;
  display: block;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  position: absolute;
}

.nav-toggle-label span::before {
  transform: translateY(-8px);
}

.nav-toggle-label span::after {
  transform: translateY(8px);
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #008c91;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    padding: 12px 16px;
  }

  .nav-toggle:checked + .nav-toggle-label + .nav-links {
    display: flex;
  }

  .nav-toggle-label {
    display: flex;
  }
}

/*Darkmode responsive*/
.nav-links li button.darkmode-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0px 10px;
}

@media (min-width: 769px) {
  .nav-links li button.darkmode-btn {
    display: none;
  }
}

/*Darkmode button desktop*/
@media (max-width: 768px) {
  #darkModeButton-desktop {
    display: none;
  }
}

/*Button tối/sáng*/
.darkmode-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.darkmode-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.darkmode-toggle {
  cursor: pointer;
  font-size: 20px;
}

/*Chế độ tối*/
body.dark-mode {
  background: #444; 
  color: #e0e0e0;      
}

body.dark-mode .container {
  background-color: #2c2c2c;
}

body.dark-mode h1 {
  color: #80dbe3; 
}

/* Input upload file */
body.dark-mode input[type="file"] {
  background-color: #555;
  color: #ffffff;
  border: 2px dashed #777;
}

body.dark-mode input[type="file"]:hover {
  background-color: #666;
}

body.dark-mode button[type="submit"] {
  background:  #00bcd4;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

body.dark-mode button[type="submit"]:hover {
  transform: scale(1.03);
  background: linear-gradient(to right, #00bcd4, #009688);
}

body.dark-mode #result {
  background-color: #444;
  color: #ffffff;
}

body.dark-mode .footer-links li a:hover {
  color: #00bcd4;
}

/*footer*/
.footer {
  background: #1e1e1e;
  color: #fff;
  padding: 25px 0;
  font-size: 16px;
  width: 100%;
  font-weight:400;
}

.footer-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
}

.footer p {
  margin: 0;
  flex: 1 1 100%;
  text-align: center;
}

.footer-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 10px 0 0 0;
  justify-content: center;
  flex: 1 1 100%;
  flex-wrap: wrap;
}

.footer-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links li a:hover {
  color: #009688;
}

/* Responsive */
@media (min-width: 600px) {
  .footer p {
    flex: 1;
    text-align: left;
    margin: 0;
  }

  .footer-links {
    justify-content: flex-end;
    flex: 1;
    margin-top: 0;
  }
}

/* Dưới 768px: điện thoại */
@media (max-width: 768px) {
  .footer-links {
    font-size: 14px;
  }
  .footer p {
    font-size: 16px;
  }
}

/* Dưới 480px: điện thoại nhỏ */
@media (max-width: 480px) {
  .footer-links {
    font-size: 12px;
  }
  .footer p {
    font-size: 14px;
  }
}

/*Trang đã chọn*/
#disable {
  background-color: rgba(255, 255, 255, 0.2);
}

/*Banner*/

.banner-button {
  width: 125px;
  height: auto;    
  margin-left: auto; 
  margin-right: auto; 
  display:inline-block;
  text-decoration: none;
  padding: 12px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  background: #00bcd4;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.banner-button:hover {
  transform: scale(1.03);
  background: linear-gradient(to right, #00bcd4, #009688);
}

.banner {
  position: relative;
  background-image: url('/static/img/banner.jpg'); 
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.banner-overlay {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

.banner-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  gap: 32px;
  flex-wrap: wrap;
}

.banner-text {
  flex: 1 1 60%;
}

.banner-text h1 {
  font-size: 40px;
  margin-bottom: 16px;
  color: #80dbe3;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.banner-text h1:hover {
  transform: scale(1.03);
}

.banner-text p {
  font-size: 24px;
  text-align: center;
}

.banner-action {
  flex: 1 1 30%;
  text-align: center;
}

/* Banner responsive */

/* Dưới 768px: điện thoại */
@media (max-width: 768px) {

  .banner-flex {
    flex-direction: column;
    text-align: center;
  }

  .banner-text,
  .banner-action {
    flex: 1 1 100%;
  }
 
  .banner-text h1 {
  font-size: 32px;
}

  .banner-text p {
  font-size: 20px;
}

.banner-button {
  width: 100px;  
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 20px;
}

.banner-flex {
  gap: 24px;
}
}

/* Dưới 480px: điện thoại nhỏ */
@media (max-width: 480px) {

  .banner-text p {
  font-size: 18px;
}

  .banner-text h1 {
  font-size: 28px;
}

.banner-button {
  width: 90px;  
  padding: 8px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 18px;
}

.banner-flex {
  gap: 20px;
}
}

/* Phần giới thiệu và hướng dẫn sử dụng */

.steps-container {
  margin: 40px 0;
}

.step-card {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  height: 300px;
  align-items: center;
  display: flex;
  align-items: center;   
  justify-content: center;
}

.step1 {
  position: relative;
  background-image: url('/static/img/intro1.jpg'); 
  background-size: cover;
  background-position: center;
}

.step2 {
  position: relative;
  background-image: url('/static/img/index2.jpg'); 
  background-size: cover;
  background-position: center;
}

.step3 {
  position: relative;
  background-image: url('/static/img/index1.webp'); 
  background-size: cover;
  background-position: center;
}

.step-card:hover {
  transform: scale(1.03); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
  z-index: 10; 
}

.step-header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.step-category {
  font-weight: bold;
  color: #e0e0e0;
  font-size: 32px;
}

.step-content {
  padding: 12px;
  line-height: 1.6;
  font-size: 28px;
  color: #e0e0e0;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.4); /* nền đen mờ 40% */
  border-radius: 8px;
  width: 65%;
  text-align: center;
}

.contact-cta {
  background-color: #e0f2f1;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  margin-top: 40px;
  border-left: 4px solid #009688;
}

.contact-cta a {
  color: #006f62;
  font-weight: bold;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .step-content {
    padding-left: 0;
    font-size: 18px;
  }
  
  .step-header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 6px;
  }
  

  .step-category {
    font-size: 20px;
}
}

.intro-section {
  width: 100%;
  align-content: center;
  margin-left:auto;
  margin-right:auto ;
  text-align: justify;
}

.intro-section h2 {
  color: #009688;
  margin-bottom: 8px;
  font-size: 24px;
  text-align: center;
}

.intro-section p,
.intro-section ul {
  line-height: 1.6;
  font-size: 20px;
}

.intro-section ul {
  padding-left: 20px;
}

/*Hướng dẫn darkmode*/
body.dark-mode .intro-section h2 {
  color: #00bcd4;
}

.dark-mode .contact-cta {
  background-color: #444;
  border-left: 4px solid #00bcd4;
}

.dark-mode .contact-cta a {
  color: #80dbe3;
}

.dark-mode .step-category {
  color: #333333;
}

.dark-mode .step-content {
  color: #333333;
  background-color: rgba(255, 255, 255, 0.4); /* nền trắng mờ 40% */

}

/* Responsive */

/* Dưới 768px: điện thoại */
@media (max-width: 768px) {

  .intro-section p, .intro-section ul {
    font-size: 18px;
  }

  .intro-section h2 {
    font-size: 20px
  }

  .step-card {
  height: 250px;
}

  .step-content {
    font-size: 20px;
  }

  .step-category {
    font-size: 24px;
}
}

/* Dưới 480px: điện thoại nhỏ */
@media (max-width: 480px) {

  .intro-section p, .intro-section ul {
    font-size: 16px;
  }

  .intro-section h2 {
    font-size: 18px;
  }

  .step-content {
    font-size: 16px;
  }

  .step-category {
    font-size: 18px;
}

  .step-header {
    margin-bottom: 4px;
}

.step-card {
  height: 175px;
}
}

/*Update navbar with change language button*/
/* Desktop layout */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Ẩn hamburger ở desktop */
.nav-toggle,
.nav-toggle-label {
  display: none;
}

/* Hiện other-button (darkmode + lang) ở desktop */
.other-button {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Ẩn darkmode/lang trong menu khi desktop */
.lang-switch-mobile,
#darkModeButton {
  display: none;
}

/* --- Responsive --- */
@media (max-width: 999px) {
  /* Hamburger hiện ra */
  .nav-toggle-label {
    display: flex;
  }

  /* Ẩn nhóm button bên phải */
  .other-button {
    display: none;
  }

  /* Hiện darkmode/lang trong menu */
  .lang-switch-mobile,
  #darkModeButton {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #008c91;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    padding: 12px 16px;
  }

  .nav-toggle:checked + .nav-toggle-label + .nav-links {
    display: flex;
  }
}

/*Change language*/

/* Ngôn ngữ - Desktop */
.lang-switcher-desktop {
  font-size: 24px;
  cursor: pointer;
  padding: 3px 5px 3px 5px;
  border-radius: 6px;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-family: "Segoe UI", sans-serif;
  border: none;
}

/* Ngôn ngữ - Mobile */
.lang-switcher {
  font-size: 24px;
  cursor: pointer;
  padding: 3px 10px;
  border-radius: 6px;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-family: "Segoe UI", sans-serif;
  border: none;
}

.lang-switcher-desktop option {
  transition: all 0.3s ease;
  background-color: white;
  color:#009688;
}

.lang-switcher-desktop:focus {
  background-color: rgba(255, 255, 255, 0.25);
}

.lang-switcher option {
  transition: all 0.3s ease;
  background-color: white;
  color:#009688;
}

.lang-switcher:focus {
  background-color: rgba(255, 255, 255, 0.25);
}

/*Language Darkmode*/
.dark-mode .lang-switcher-desktop option {
  background-color: #444;
  color:#00bcd4;
}

.dark-mode .lang-switcher-desktop:focus {
  background-color: rgba(0, 0, 0, 0.15);
}

.dark-mode .lang-switcher option {
  background-color: #444;
  color:#00bcd4;
}

.dark-mode .lang-switcher:focus {
  background-color: rgba(0, 0, 0, 0.15);
}

/* Ẩn mobile khi desktop */
@media (min-width: 1001px) {
  .lang-switch-mobile {
    display: none;
  }
}

/* Ẩn desktop khi mobile */
@media (max-width: 1000px) {
  .lang-switcher-desktop {
    display: none;
  }

  select {
    padding: 10px 14px;
    font-size: 14px;
  }
}

