<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SmartBuild AI Demo - Tuyển dụng</title>
  <link rel="stylesheet" href="/static/css/recruitment.css" />
</head>
<body>
   <!-- Thanh điều hướng -->
  <nav class="navbar">  
    <div class="nav-container">
    <div class="nav-logo">🦾 SmartBuild AI</div>

    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>

    <ul class="nav-links">
      <li><a href="/">TRANG CHỦ</a></li>
      <li><a href="/intro">GIỚI THIỆU</a></li>
      <li><a href="/recruitment" id="disable">TUYỂN DỤNG</a></li>
      <li><a href="/contact">LIÊN HỆ</a></li>
      <li><button id="darkModeButton" class="darkmode-btn">🌚</button></li>
    </ul>

    <button id="darkModeButton-desktop" class="darkmode-btn">🌚</button>

  </div>
  </nav>

  <div class="container">
    <h1>SmartBuild AI: Tư vấn vật liệu chống thấm</h1>

    <form id="uploadForm">
      <input type="file" name="image" id="image" accept="image/*" required />
      <button type="submit">Phân tích</button>
    </form>

    <!-- Hiển thị ảnh -->
    <div id="preview">
      <img id="previewImage" src="" alt="Xem trước ảnh"/>
    </div>

    <div id="result"></div>
  </div>

    <footer class="footer">
    <div class="footer-container">
      <p>&copy; 2025 SmartBuild AI – Mọi quyền được bảo lưu.</p>

      <ul class="footer-links">      
        <li><a href="/">TRANG CHỦ</a></li>
        <li><a href="/intro">GIỚI THIỆU</a></li>
        <li><a href="/recruitment">TUYỂN DỤNG</a></li>
        <li><a href="/contact">LIÊN HỆ</a></li>
      </ul>
    </div>
  </footer>
  
  <script src="/static/js/script.js"></script>

</body>
</html>
